*:focus {
    outline: none;
}

form {
    margin: auto;
    margin-top: 50px;
    display: table;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 400px;
    margin-top: 5px;
    margin-bottom: 10px;
    max-width: 90vw;
}
input[type=text] {
    height: 25px;
    padding: 6px;
}
input[type=button] {
    background-color: #FFFC00;
    text-decoration: none;
    display: block;
    margin: auto;
    color: black;
    border: 1px solid black;
    font-size: 18px;
    height: 35px;
    cursor: pointer;
}

canvas {
    display: table;
    margin: 15px auto;
}